body{
    background: url(../image/cactusbg.png);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: black;
    font-size: 30px;
    font-weight: 20px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(104, 206, 95, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
}

.input-box i{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: 0.8em;
    color: white;
    display: flex;
    justify-content: center;
}
   
.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: white;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}