*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
   }
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; /* เปลี่ยน right เป็น left */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* เพิ่มบรรทัดนี้ */
    background: transparent;
    padding: 2%;
    transition: all 0.5s ease;
    color: white;
}
.center-text {
    font-size: 26px;
    flex: 1; /* เพิ่มบรรทัดนี้ */
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 25px;
    margin-right: 3px;

}
.logo span{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}
.bk-main{
    background-color: #222327;
}

body{
    min-height: 100vh;
    /* background-color: var(--bg-color); */
    color: var(--text-color);
    background: url(../image/cactusbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}